<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <style>
        .tweetbox{
            border: solid black 2px;
            padding: 20px;
            margin:50px;
        }

    </style>
    <body>
        <a class="btn btn-primary" href="{% url 'tweet_fetch'%}">Fetch More</a>
        <form>
            <input type="text" placeholder="Enter the required username">
        </form>

        {% for tweet in tweets %}
        
        <div class='tweetbox'>
            <h3>{{tweet.tweet_text}}</h3>
            <h5>Published Date: {{tweet.published_date}}</h5>
            <h5>Tweet ID: {{tweet.tweet_id}}</h5>
            <h5>No. of likes: {{tweet.tweet_likes}}</h5>
            <h5>No. of retweets: {{tweet.tweet_retweets}}</h5>
        </div>
        {% endfor %}
    </body>
</html>